﻿@model CompetitorManagerOnline.Models.Competitor

@{
    ViewData["Title"] = "AddCompetitorConfirmation";
}

<div>
    @Model.FirstName @Model.LastName has been added to current competitors as <br />

    <a asp-action="AllCompetitors">View all competitors</a>
</div>

