﻿@model List<CompetitorManagerOnline.Models.Competitor>

@{
    ViewData["Title"] = "AllCompetitors";
}

<h2>Competitors</h2>

<table class="table">
    <thread>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Nationality</th>
            <th scope="col">Score</th>
            <th scope="col">Total Stroke</th>
        </tr>
    </thread>
    <tbody>
        @foreach (Competitor competitor in Model)
        {
            <tr>
                <td>@competitor.Id</td>
                <td>@competitor.FirstName</td>
                <td>@competitor.LastName</td>
                <td>@competitor.Nationality</td>
                <td>@competitor.Score</td>
                <td>@competitor.TotalStroke</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@competitor.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@competitor.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>