﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Competitor Manager Online</h1>
    <button type="button" class="btn btn-primary" style="margin-top: 3rem;" onclick="location.href='Home/Register'">Register Competitor</button>
</div>